.profile {
  width: 300px;
  margin-left: 20px;
  padding-top: 20px;
}

.description {
  background-color: white;
  text-align: center;
  padding: 40px;
}

.avatar {
  padding-top: 2px;
  border: 3px solid rgb(13, 13, 13);
  border-radius: 80%;
  background-color: rgb(227, 227, 191);
  width: 100px;
}

.name {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.tag {
  color: rgb(200, 125, 125);
}

.location {
  color: rgb(200, 125, 125);
}

.stats {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.items {
  width: 98px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  justify-content: center;
  background-color: rgb(243, 246, 249);
  border: 1px solid rgb(233, 237, 242);
}

.label {
  text-align: center;
  margin-bottom: 5px;
  color: rgb(200, 125, 125);
  width: 100px;
}

.quantity {
}
